@import url('https://fonts.googleapis.com/css2?family=Hind&family=Average&display=swap');

body {
    background: #FFFCF8;
    font-family: "Average";
    color: #555;
    line-height: 1.5;
    margin: 0 auto;
    width: 90%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-buttons,
.header {
    display: flex;
    gap: 1.5em;
}

.top-buttons button,
.header button {
    padding: 0;
    border: none;
    background: none;
    font-family: "Average";
    font-size: 1.35em;
    color: #4B9CD3;
    cursor: pointer;
}

.top-buttons button:hover {
    text-decoration: underline;
}

.header button {
    font-weight: normal;
    white-space: nowrap;
}

.intro-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8%;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.description-box {
    display: inline-block;
    border: 2px solid #4B9CD3;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1em 0;
    transition: box-shadow 0.2s ease-in-out;
}

.description-box:hover {
    box-shadow: 0 0 5px rgba(75, 156, 211, 0.7);
}

.second-half-text {
    margin-top: 1em;
}

.bottom-text {
    margin-top: 2em;
}

.bottom-text-box {
    display: inline-block;
    border: 2px solid #4B9CD3;
    border-radius: 10px;
    padding: 0.5em 1em;
    transition: box-shadow 0.2s ease-in-out;
}

.bottom-text-box:hover {
    box-shadow: 0 0 5px rgba(75, 156, 211, 0.7);
}

.image img {
    display: block;
    margin: auto;
}
