@import url('https://fonts.googleapis.com/css2?family=Hind&family=Average&display=swap');

body {
    background: #FFFCF8;
    font-family: "Average";
    color: #555;
    line-height: 1.5;
    padding: 1em;
    margin: 0 auto;
    width: 90%;
}

.body-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8%;
    width: 100%; /* Set the content container to take up the full width of the screen */
    max-width: 1200px; /* Add a maximum width to avoid excessive stretching on very large screens */
    margin: 0 auto; /* Center the content container horizontally on the page */
}

.content-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 8%;
}

h1 {
    text-align: left;
    color: #000000;
    font-size: 2em;
    font-weight: normal;
}

h2 {
    text-align: left;
    color: #333;
    font-weight: normal;
    font-size: 1.15em;
    margin-top: 1em;
}

h4 {
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-size: 1.15em;
    margin-top: 1em;
}

.dis-text-box {
    position: fixed; /* Use fixed positioning to keep it in the viewport */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    border: 1px solid #000;
    padding: 10px;
    z-index: 1000;
    cursor: pointer;
}


.description-box {
    display: inline-block;
    border: 2px solid #4B9CD3;
    border-radius: 10px; /* To make the box round */
    padding: 0.5em 1em; /* Adjust the padding as needed */
    margin: 1em 0;
    transition: box-shadow 0.2s ease-in-out;
}

/* Add hover style for when the box is tapped */
.description-box:hover {
    box-shadow: 0 0 5px rgba(75, 156, 211, 0.7);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.top-buttons,
.header {
    display: flex;
    gap: 1.5em;
}

.top-buttons button,
.header button {
    padding: 0;
    border: none;
    background: none;
    font-family: "Average";
    font-size: 1.35em;
    color: #4B9CD3;
    cursor: pointer;
}

.top-buttons button:hover {
    text-decoration: underline; 
}

.header button {
    font-weight: normal;
    white-space: nowrap;
}

.second-half-text {
    margin-top: 1em; /* Adjust the margin as needed */
}

.description {
    margin-right: 2%; /* Adjust the margin as needed */
}

.project-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
    width: 90%;
    margin-top: 8%;
}

.project {
    box-sizing: border-box;
    border: 7px solid #4B9CD3;
    border-radius: 25px;
    margin: 1%;
    width: 500px;
    /* min-width: 350px; */
    box-shadow: 0 0 100% #4F758B;
    transition: box-shadow 0.2s ease-in-out;
}

.project:hover {
    box-shadow: 0 0 30px #4F758B;
}

.project img {
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: auto;
}

.project .text {
    display: none;
    text-align: center;
    padding: 10%;
}

.project .expand-button {
    display: none;
    margin-top: 20px;
}

.project-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4B9CD3;
    color: #FFFFFF;
    border: 2px solid #4B9CD3;
    border-radius: 4px;
    text-decoration: none;
}

.project-button:hover {
    background-color: #37749F;
    border-color: #37749F;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Adjust the margin as needed */
}

h3 {
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 1.25em;
    margin-top: 0em;
}

.center-image {
    display: block;
    margin: 0 auto;
}

.header-text {
    font-size: 30px;
}

.description-box {
    display: flex;
    border: 2px solid #4B9CD3;
    background-color: #4B9CD3;
    border-radius: 10px;
    padding: 0.5em 1em;
    margin: 1em 0;
    transition: box-shadow 0.2s ease-in-out;
    overflow: auto; /* Added to handle overflow */
}

/* Add this new style for the image and description box */
.image {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.description-box {
    display: flex; /* Use Flexbox for the description box and image */
    flex-direction: column; /* Default: display stacked on small screens */
}

/* Add media query for screen width > 768px (adjust this value as needed) */
@media (min-width: 769px) {
    .intro-container {
        display: grid; /* Use CSS Grid for the main content container on larger screens */
        grid-template-columns: 1fr 1fr; /* Two columns for image and description */
        grid-gap: 20px; /* Add gap between the columns */
        align-items: flex-start; /* Align items to the top */
    }

    .image {
        order: 2; /* Reorder the image to appear second */
        max-width: 100%; /* Allow the image to take full width on larger screens */
        margin-bottom: 0; /* Remove the margin at the bottom */
    }
}

/* Add media query for screen width <= 768px (adjust this value as needed) */
@media (max-width: 768px) {
    .intro-container {
        display: flex; /* Use Flexbox for the main content container on smaller screens */
        flex-direction: column-reverse; /* Reverse the order of content for better layout */
    }

    .image {
        max-width: 100%; /* Allow the image to take full width on smaller screens */
    }
}

.center-button {
    display: block;
    margin: 0 auto;
    text-align: center;
    background-color: #000000;
    color: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 4px;
    text-decoration: none;
    padding: 10px 20px;
}

.bottom-text {
    text-align: center;
    color: #333;
    font-weight: normal;
    font-size: 1.05em;
    margin-top: 0em;
    justify-content: center;
}

.bottom-text-box {
    display: flex;
    border: 2px solid #D3D3D3;
    background-color: #D3D3D3;
    border-radius: 10px;
    padding: 0.1em 1em;
    margin: 1em 0;
    transition: box-shadow 0.2s ease-in-out;
    overflow: auto; /* Added to handle overflow */
}
